@font-face {
  font-family: 'iconfont'; /* Project id 2760951 */
  src: url('//at.alicdn.com/t/font_2760951_ofavptv5mpc.woff2?t=1629621297251') format('woff2'), url('//at.alicdn.com/t/font_2760951_ofavptv5mpc.woff?t=1629621297251') format('woff'), url('//at.alicdn.com/t/font_2760951_ofavptv5mpc.ttf?t=1629621297251') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-gengduo:before {
  content: '\e601';
}

.iconfont-fenxiang:before {
  content: '\e602';
}

.iconfont-pinglun:before {
  content: '\e603';
}

.iconfont-lishi:before {
  content: '\e604';
}

.iconfont-dianzan:before {
  content: '\e605';
}

.iconfont-dianzan2:before {
  content: '\e606';
}

.iconfont-shouye:before {
  content: '\e607';
}

.iconfont-guanbi:before {
  content: '\e608';
}

.iconfont-yanzhengma:before {
  content: '\e609';
}

.iconfont-shoucang:before {
  content: '\e60a';
}

.iconfont-wode:before {
  content: '\e60b';
}

.iconfont-shanchu:before {
  content: '\e60c';
}

.iconfont-shouji:before {
  content: '\e60d';
}

.iconfont-youjiantou:before {
  content: '\e60e';
}

.iconfont-sousuo:before {
  content: '\e60f';
}

.iconfont-wuwangluo:before {
  content: '\e610';
}

.iconfont-zuojiantou:before {
  content: '\e611';
}

.iconfont-wenda:before {
  content: '\e612';
}

.iconfont-shipin:before {
  content: '\e613';
}

.iconfont-zuopin:before {
  content: '\e614';
}

.iconfont-yuedu:before {
  content: '\e615';
}
